# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual env
.venv/
venv/

# Test output
logs/
reports/
screenshots/
runtime/
allure-results/
allure-report/

# Playwright
test-results/
playwright-report/

# GitHub Actions Runner
actions-runner/

# Mac
.DS_Store
